@import url(//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,600);


#sandbox {
  margin: 50px;
}

input {
  border: solid 1px #ccc;
  border-radius: 5px;
  padding: 7px 14px;
  margin-bottom: 10px;
  width: 50%;
}
input:focus {
  outline: none;
  border-color: #aaa;
}

.list {
  margin: 0;
  padding: 20px 0 0;
}
.list li {
  display: block;
  background-color: #eee;
  padding: 10px;
  box-shadow: inset 0 1px 0 #fff;
  height: 190px;
  margin-bottom: 10px;
}
.list.b li {
  display: block;
  background-color: #eee;
  padding: 10px;
  box-shadow: inset 0 1px 0 #fff;
  height: 240px;
  margin-bottom: 10px;
}
.list li img {
  float: left;
  padding-right: 20px;
  height:120px;
  max-height: 100%;
  width: auto;
}
.list li h3 {
  font-size: 2em;
  margin: 0 0 0.3rem;
  font-weight: 600;
}
.list li .project-title {
  margin: 0;
  font-weight: 400;
  font-size: 1.5em;
}
.list li .project-label {
  margin: 0;
  font-style: italic;
}
.list li i {
  float: right;
  color: black;
  display: block;
}
.list li i:hover {
  color: #3498db;
}

.grid {
  list-style: none;
}
.grid img {
  float: left;
  padding-right: 20px;
}
.grid li {
  width: 30%;
  display: inline-block;
  background-color: #eee;
  box-shadow: inset 0 1px 0 #fff;
  margin-bottom: 20px;
}
.grid li:nth-of-type(3n+2) {
  margin: 0 20px;
}
.grid li h3 {
  font-size: 2em;
  margin: 0 0 0.3rem;
  font-weight: 600;
}
.grid li .project-title {
  margin: 0;
  font-weight: 400;
  font-size: 1.5em;
}
.grid li .project-label {
  margin: 0;
  font-style: italic;
}
.grid li i {
  float: right;
  margin: 0 10px 0 0;
  color: black;
  display: block;
}
.grid li i:hover {
  color: #3498db;
}

.jscroll {
  height: 700px;
  overflow-y: scroll;
  border: 1px solid black;
}

/* bouton retour */
.backArrow {
    font-size: 25px;
    line-height: 25px;

    width: 1em;
    height: 1em;
    padding: 6px;

    cursor: pointer;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    transform: rotate(180deg);

    color: green;
    border: 2px solid white;
    border-radius: 50%;

    -webkit-touch-callout: none;
     -khtml-user-select: none;
}
.backArrow:hover {
    background: rgba(255,255,255,.5);
}
.backArrow:active {
    position: relative;
    right: 2px;
}

/*bouton soumettre liste*/
.wrap {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.mysubmit {
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 45px;
  font-family: 'Roboto', sans-serif;
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  color: #000;
  background-color: #fff;
  border: none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
  }

.mysubmit:hover {
  background-color: #4CAF50;
  box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
  color: #fff;
  transform: translateY(-7px);
}